:root {
    --select-color: #ffa7b3;
    --main-color: #6a2d35;
    --white-elements: #fff;
    --section-background: #f2f2f2;
    --white-transparent: #ffffffb0;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body,
  html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  p {
    padding: 0;
    margin: 0;
  }
  
  h1 {
    position: relative;
    color: var(--white-elements);
    font-weight: 300;
    animation: slideInRight 2s ease-in-out;
    font-size: 4rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.4rem;
    font-weight: 400;
    font-size: 1.7rem;
    color: #2e2e2e;
  }

  .label-hidden {
    display: none;
  }
  
  *:focus {
    outline: none;
  }
  
  ::selection {
    background-color: var(--select-color);
    color: var(--white-elements);
  }
  
  h1 {
    position: relative;
    color: var(--white-elements);
    font-weight: 300;
    animation: slideInRight 2s ease-in-out;
    font-size: 4rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 2rem;
    color: var(--white-elements);
    background-color: #1a1a1ad2;
    backdrop-filter: blur(8px);
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-logo {
    max-height: 4.4rem;
    margin-left: -2.5rem;
    transition: max-height 0.35s ease-in-out;
  }
  
  .logo-text {
    margin-left: -1rem;
    font-weight: 700;
  }
  
  .navigation {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navigation-item {
    position: relative;
    margin-left: 2rem;
    font-size: 0.8rem;
  }
  
  .navigation-item::after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0;
    background-color: var(--white-elements);
    height: 1px;
    transition: width 0.2s ease-in-out;
  }
  
  .navigation-item:hover::after {
    width: 100%;
  }
  
  .navigation-item a {
    color: var(--white-elements);
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/backgrounds/footer.png') no-repeat;
    background-size: cover;
    padding: 4rem 0 0;
  }
  
  .footer-header {
    color: black;
    margin-bottom: 0.5rem;
  }
  
  .section-subtext.light {
    color: black;
  }
  
  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 3rem 0 1.4rem;
  }
  
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--main-color);
  }
  
  .media-icon {
    transition: transform 0.3s;
  }
  
  .media:hover .media-icon {
    transform: scale(1.8);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 80%;
    border: 1px solid var(--main-color);
  }
  
  .form-title {
    color: black;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  
  .form-subtitle {
    color: black;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.3rem 0 1rem;
    gap: 0.5rem;
    width: 100%;
  }
  
  .input-container input {
    font-family: inherit;
    width: 25%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-color);
    padding: 0.5rem;
  }
  
  form textarea {
    font-family: inherit;
    width: 75%;
    border-radius: 0.5rem;
    border: 1px solid var(--main-color);
    padding: 0.5rem;
  }
  
  ::placeholder {
    font-family: 'Spartan', sans-serif;
    color: var(--main-color);
  }
  
  .checkbox-container {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.4rem 0;
  }
  
  .checkbox-container input[type='checkbox'] {
    margin-right: 1rem;
  }
  
  .form-btn {
    padding: 0.8rem 2rem;
    border-radius: 0.3rem;
    font-family: inherit;
    border: 1px solid var(--main-color);
    font-size: 0.8rem;
    background-color: rgb(207, 207, 207);
    color: var(--main-color);
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .form-btn:hover {
    color: white;
    background-color: var(--main-color);
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.425);
    color: rgba(0, 0, 0, 0.623);
    width: 90%;
    height: 3rem;
    margin-top: 3rem;
    font-size: 0.7rem;
  }
  
  .footer-link {
    position: relative;
    margin-left: 0.5rem;
    color: black;
    transition: color 0.4s;
  }
  
  .footer-link::before {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    height: 1px;
    width: 100%;
    background-color: #3ba3b6;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
  }
  
  .credits:hover .footer-link {
    color: #3ba3b6;
  }
  
  .credits:hover .footer-link::before {
    transform: scaleX(100%);
  }
  