:root {
    --white-elements: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

@keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}








.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    padding: .1rem 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.822);
    color: var(--white-elements);
    backdrop-filter: blur(8px);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    max-height: 3rem;
    margin-left: -2.5rem;
    /* transition: max-height .3s ease-in-out; */
}

.logo-text {
    margin-left: -1rem;
    font-weight: 700;
}

.navigation {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-item {
    position: relative;
    margin-left: 2rem;
    font-size: .8rem;
}

.navigation-item::after {
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: 0;
    width: 0;
    background-color: var(--white-elements);
    height: 1px;
    transition: width .2s ease-in-out;
}

.navigation-item:hover::after {
    width: 100%;
}

.navigation-item a {
    color: var(--white-elements);
    text-decoration: none;
}







.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    transition: opacity 1s ease-in-out;
}

.slide-one {
    background: url('../img/backgrounds/mason-jones-9e_ssIz4jB4-unsplash.jpg') center no-repeat;
    opacity: 0;
}

.slide-two {
    background: url('../img/backgrounds/artiom-vallat-BTLYDyrFefk-unsplash.jpg') center no-repeat;
    opacity: 0;
}

.slide-three {
    background: url('../img/backgrounds/pavel-keyzik-WvXh5EVm.jpg') center no-repeat;
}

.hero-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    width: 70%;
    border: 3px solid var(--white-elements);
    background-color: rgba(12, 12, 12, 0.644);
    backdrop-filter: blur(3px);
}

.title-layer {
    overflow: hidden;
    animation: slideInLeft 1.5s ease-in-out;
}

h1 {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 300;
    animation: slideInRight 1.5s ease-in-out;
    font-size: 4rem;
}

.hero-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.8rem;
}

.divider-line {
    width: 12rem;
    height: 2px;
    background-color: var(--white-elements);
}

.divider-line:first-of-type {
    animation: slideInLeft 1.4s ease-in-out;
}

.divider-line:last-of-type {
    animation: slideInRight 1.4s ease-in-out;
}

.car-icon {
    color: var(--white-elements);
    margin: 0 1rem;
    font-size: 3rem;
    animation: opacityChange 2s ease-in-out;
}

.hero-text {
    width: 70%;
    line-height: 1.5;
    color: var(--white-elements);
    margin: 1.8rem 0;
    text-transform: uppercase;
    animation: opacityChange 2s ease-in-out;
}

.hero-btn {
    background: transparent;
    border: 2px solid var(--white-elements);
    font-family: inherit;
    cursor: pointer;
    padding: .7rem 2rem;
    color: var(--white-elements);
    border-radius: .4rem;
    font-weight: 400;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    animation: opacityChange 2s ease-in-out;
}

.hero-btn:hover {
    background-color: white;
    color: rgb(78, 17, 17);
}






.offer-section {
    background-color: rgb(233, 233, 233);
    padding: 3rem 0;
}

.offer-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.offer-inner-show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    margin-bottom: 1.4rem;    
    font-weight: 400;
    font-size: 1.7rem;
    color: rgb(46, 46, 46);
}

.offer-text {
    width: 60%;
    text-align: center;
    line-height: 1.6;
}











.cards-container {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
    min-height: 18rem;
    min-width: 25rem;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.63);
    cursor: pointer;
}

.card:hover .card-blur {
    transform: scaleX(.1%);
}

.card:hover .card-bg {
    transform: scale(1.05);
}

.link-icon:hover .icon-icon {
    transform: translateX(50%);
}

.card-blur {
    overflow: hidden;
    position: absolute;
    inset: 0 70% 0 0;
    backdrop-filter: blur(8px);
    transform-origin: left;
    transition: transform .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:nth-of-type(2) {
    position: relative;
    bottom: -2rem;
}

.card-bg {
    width: 100%;
    height: 100%;
    background: url('../img/elements/hugo-b-oMqIt9JwkVs-unsplash.jpg') center no-repeat;
    background-size: cover;
    transition: transform .3s ease-in-out;
}

.card-icon {
    color: white;
    font-size: 3.5rem;
    transition: transform 1s ease-in-out;
}

