@import url('../styles//libraries/locomotive-scroll.css');
@import url('./animations/animations.css');

:root {
    --select-color: #ffa7b3;
    --main-color: #6a2d35;
    --white-elements: #fff;
    --section-background: #e9e9e9;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

::selection {
    background-color: var(--select-color);
    color: var(--white-elements);
}


/* Utilities */
.section-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-subtext {
    width: 60%;
    text-align: center;
    line-height: 1.6;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    padding: .1rem 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1a1a1ad2;
    color: var(--white-elements);
    backdrop-filter: blur(8px);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    max-height: 4.4rem;
    margin-left: -2.5rem;
    transition: max-height .35s ease-in-out;
}

.logo-text {
    margin-left: -1rem;
    font-weight: 700;
}

.navigation {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-item {
    position: relative;
    margin-left: 2rem;
    font-size: .8rem;
}

.navigation-item::after {
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: 0;
    width: 0;
    background-color: var(--white-elements);
    height: 1px;
    transition: width .2s ease-in-out;
}

.navigation-item:hover::after {
    width: 100%;
}

.navigation-item a {
    color: var(--white-elements);
    text-decoration: none;
}







.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    transition: opacity 1s ease-in-out;
}

.slide-one {
    background: url('../img/backgrounds/mason-jones-9e_ssIz4jB4-unsplash.jpg') center no-repeat;
    opacity: 0;
}

.slide-two {
    background: url('../img/backgrounds/artiom-vallat-BTLYDyrFefk-unsplash.jpg') center no-repeat;
    opacity: 0;
}

.slide-three {
    background: url('../img/backgrounds/pavel-keyzik-WvXh5EVm.jpg') center no-repeat;
}

.hero-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    width: 70%;
    border: 3px solid var(--white-elements);
    background-color: #0c0c0ca4;
    backdrop-filter: blur(3px);
}

.title-layer {
    overflow: hidden;
    animation: slideInLeft 1.5s ease-in-out;
}

h1 {
    position: relative;
    color: var(--white-elements);
    font-weight: 300;
    animation: slideInRight 1.5s ease-in-out;
    font-size: 4rem;
}

.hero-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.8rem;
}

.divider-line {
    width: 12rem;
    height: 2px;
    background-color: var(--white-elements);
}

.divider-line:first-of-type {
    animation: slideInLeft 1.4s ease-in-out;
}

.divider-line:last-of-type {
    animation: slideInRight 1.4s ease-in-out;
}

.car-icon {
    color: var(--white-elements);
    margin: 0 1rem;
    font-size: 3rem;
    animation: opacityChange 2s ease-in-out;
}

.hero-text {
    width: 70%;
    line-height: 1.4;
    color: var(--white-elements);
    margin: 1.8rem 0;
    text-transform: uppercase;
    animation: opacityChange 2s ease-in-out;
}

.hero-btn {
    background: transparent;
    border: 2px solid var(--white-elements);
    font-family: inherit;
    cursor: pointer;
    padding: .7rem 2rem;
    color: var(--white-elements);
    border-radius: .4rem;
    font-weight: 400;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    animation: opacityChange 2s ease-in-out;
}

.hero-btn:hover {
    background-color: var(--white-elements);
    color: #4e1111;
}





.offer-section {
    background-color: var(--section-background);
    padding: 3rem 0 8rem;
}

.offer-inner {
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.offer-inner-show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    margin-bottom: 1.4rem;
    font-weight: 400;
    font-size: 1.7rem;
    color: #2e2e2e;
}

.cards-container {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

.card-wrapper {
    position: relative;
}

.card-wrapper:nth-of-type(2) {
    position: relative;
    bottom: -2rem;
}

.card-title {
    position: absolute;
    font-size: 1.2rem;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
    min-height: 18rem;
    min-width: 25rem;
    box-shadow: 0px 0px 20px 0px #000000a1;
    cursor: pointer;
}

.card-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    overflow: hidden;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 79, 79, 0.35);
    transition: width .3s ease-in-out;
}

.card:hover .card-blur {
    width: 0;
}

.card:hover .card-bg {
    transform: scale(1.1);
}

.card:hover .card-icon {
    transform: translateX(150%);
}

.card-bg {
    width: 100%;
    min-height: 18rem;
    background: url('../img/elements/markus-spiske-MbG7kwWptII-unsplash.jpg') center no-repeat;
    background-size: cover;
    transition: transform .3s ease-in-out;
}

.card-bg.bg2 {
    background: url('../img/elements/grafis-gosulsel-6VaoBRYhle8-unsplash.jpg') center no-repeat;
    background-size: cover;
}

.card-bg.bg3 {
    background: url('../img/elements/andre-taissin-5OUMf1Mr5pU-unsplash.jpg') center no-repeat;
    background-size: cover;
}

.card-icon {
    color: var(--white-elements);
    font-size: 3.5rem;
    transition: transform .3s ease-in-out;
}

.card-description {
    position: absolute;
    bottom: -1rem;
}







.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cell {
    min-height: 25rem;
}

.cell.bg-one {
    background: url('../img/elements/erik-mclean-Vy2kaSObSOk-unsplash.jpg') center no-repeat;
    background-size: cover;
}

.cell.bg-two {
    background: url('../img/elements/christian-koch-D_4R9CcYZOk.jpg') center no-repeat;
    background-size: cover;
}

.cell-text {
    padding: 3rem;
    background-color: var(--main-color);
}

.cell-subtxt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--white-elements);
    margin-top: 1.5rem;
    font-size: 1.1rem;
}


.cell-icon {
    font-size: 2.5rem;
}

.cell-text.text-two {
    background-color: #777777;
    text-align: right;
}

h3 {
    color: var(--white-elements);
    font-size: 1.7rem;
    font-weight: 400;
}

.cell-inner-txt {
    margin: 1.5rem 0;
    color: rgba(255, 255, 255, 0.692);
    line-height: 1.4;
    font-weight: 300;
}








.photo-section {
    padding: 3rem 0;
    background-color: var(--section-background);
}

.photo-container {
    margin-top: 2rem;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.photo {
    height: 15rem;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid rgb(0, 0, 0);
}









footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-color) center no-repeat;
    background-size: cover;
    height: 95vh;
    padding: 3rem 0 0;
    border-top: 2px solid rgba(255, 255, 255, 0.74);
}

.footer-header {
    color: var(--white-elements);
}

.section-subtext.light {
    color: #ffffff8f;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 3rem 0 1.4rem;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: .2rem;
    border: 1px solid rgba(255, 255, 255, 0.856);
    height: 30rem;
}



.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.253);
    color:  rgba(255, 255, 255, 0.623);
    width: 90%;
    height: 3rem;
    margin-top: 3rem;
    font-size: .6rem;
}

.credits a {
    margin-left: .5rem;
    color: white;
}




